* {
  text-align: center;
}
.employee__info {
  text-align: center;
  font-size: 13px;
  margin-bottom: 15px;
  background: aquamarine;
}

.tracker__card {
  border: 1px solid black;
  height: 30vh;
  background: aquamarine;
}
