@use "../../assets/sass/variables" as *;

.counter__value {
  display: flex;
  justify-content: center;
  background: #b84d69;
  :hover {
    cursor: pointer;
  }
  button {
    margin: 0 10px 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 30px;
    width: 50px;
    border-radius: 25px;
  }
}

.counter__title {
  background: #b84d69;
}

.counter__display {
  font-size: 1.5rem;
  background: #b84d69;
  font-family: $text-primary;
}

.counter {
  border: 2px solid black;
  margin: 0 5px 0 5px;
  background: #b84d69;
}
