* {
  text-align: center;
}
.employee__info {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 15px;
  background: #f7c469;
}

.ticket__card {
  border: 1px solid black;
  height: 30vh;
  background: #f7c469;
}
